/* Utility classes */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.col-3 {
  flex: 1 1 32%;
}

.btn {
  padding: 15px 25px;
  font-size: 1.5rem;
  border: none;
  text-align: justify;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  border: 1px solid #222;
  transition: 0.5s;
  user-select: none;
}

.btn:hover {
  color: #111;
  background-color: #fff;
  border-radius: 40px;
}

/* Reset classes */

h1 {
  font-weight: 600;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

/* custom css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.header {
  width: 100%;
  padding: 10px;
  height: 100px;
  align-items: center;
  background-color: #9d5c63;
  position: fixed;
  top: 0;
  z-index: 25;
}

.logo img {
  height: 75px;
  width: 75px;
}

.sidebar-toggle-btn {
  margin-right: 15px;
  display: none;
}

.sidebar-toggle-btn:hover {
  border-radius: 0;
}

.view-buttons {
  justify-content: flex-end;
  user-select: none;
}

.heading {
  text-align: center;
}

.hero-section {
  background-color: #fef5ef;
  margin-top: 100px;
  transition: 0.5s ease;
}

.view-btn {
  cursor: pointer;
  padding: 16px;
}

.view-btn:hover {
  background-color: black;
}

.view-btn:hover img {
  filter: brightness(0) invert(1);
}

.view-btn img {
  height: 2rem;
  width: 2rem;
}

.active-view {
  background-color: black;
}

.active-view img {
  filter: invert(1);
}

.active-view:hover {
  background-color: white;
}

.active-view:hover img {
  filter: none;
}

.sidebar {
  width: 15%;
  background-color: #e4bb97;
  height: 100%;
  position: fixed;
  z-index: 20;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
}

.sidebar a h2 {
  color: #111;
  padding: 25px;
  border-bottom: 2px solid #111;
  border-top: 2px solid #fef5ef;
}

.sidebar a h2:hover {
  background-color: #111;
  color: #e4bb97;
}

.main-content {
  margin-left: 15%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
}

.product-bottom {
  width: 100%;
  justify-content: space-between;
  padding-bottom: 5px;
  margin-top: 5px;
}

.product-top {
  height: 320px;
}

.product-image {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.product-image img {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

hr {
  border: 1px solid #9d5c63;
}

.product {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  flex: 1 1 calc(20% - 45px);
  max-width: calc(20% - 45px);
  min-width: 300px;
  position: relative;
}

.product:hover {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  transform: scale(1.03);
}

.product-id {
  display: none;
}

.tag {
  background-color: #584b53;
  color: #fef5ef;
  margin: 3px;
  padding: 5px;
  border-radius: 25px;
  text-align: center;
  font-size: 1rem;
}

.product-details {
  gap: 15px;
  font-size: 1rem;
}

.main-content-top-row {
  justify-content: space-between;
  padding: 10px 15px;
  flex-wrap: wrap;
}

.searchForm {
  width: 70%;
}

.product-form,
.form-input-group,
.form-input {
  padding: 25px 15px;
}

.product-form {
  padding: 25px;
  width: 100%;
}

.form-label,
.form-input {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-label,
.form-input {
  width: 100%;
  margin: 10px 0;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-actions {
  gap: 25px;
}

.form-heading {
  text-align: center;
}

#description {
  resize: vertical;
}

.form-container {
  width: 100%;
  display: none;
}

.tags,
.product-description {
  flex-wrap: wrap;
}

.product-middle {
  padding-left: 10px;
}

.input-error {
  border: 2px solid red;
}

.input-error-message {
  color: red;
  text-align: end;
  font-size: larger;
}

.product .btn {
  padding: 0;
}

.product-bottom .btn {
  width: 100%;
  text-align: center;
}

.product-bottom-left,
.product-bottom-right {
  width: 49%;
}

.sort-by-group {
  transition: 0.5s ease;
}

.sort-button,
.add-btn {
  height: fit-content;
}

.sort-by {
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  padding: 15px;
  text-align: center;
  display: none;
}

.sort-by-options {
  position: absolute;
  z-index: 50;
  width: 100%;
}

.sort-by:hover {
  background-color: #fef5ef;
}

.pagination div {
  background-color: #fff;
  padding: 15px 25px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.page-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  vertical-align: middle;
}

.pagination div:hover {
  color: #fff;
  background-color: #000;
}

.br-none:hover {
  border-radius: 0;
}

.sort-by-group {
  position: relative;
}

.active-page {
  background-color: #000 !important;
  color: #fff;
}

.active-page:hover {
  background-color: grey !important;
}

.pagination-container {
  user-select: none;
}

/* Media Queries */

@media (max-width: 1440px) {
  .hero-section {
    position: relative;
  }

  .sidebar-toggle-btn {
    margin-right: 15px;
    display: block;
  }

  .sidebar {
    width: 30%;
    display: none;
  }

  .main-content {
    margin-left: 0;
  }

  .product {
    flex: 1 1 calc(25% - 45px);
    max-width: 25%;
  }
}

@media (max-width: 1024px) {
  .product {
    flex: 1 1 calc(33% - 45px);
    max-width: 33%;
  }

  .searchForm {
    width: 100%;
  }

  .product-top {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .product {
    flex: 1 1 calc(50% - 30px);
    max-width: 50%;
  }

  .product-details {
    gap: 0;
  }

  .sidebar {
    width: 50%;
  }

  .product-title h3 {
    font-size: 1.2rem;
  }

  .product-description p {
    font-size: 0.9rem;
  }

  .product-price,
  .product-quantity {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .product {
    flex: 1 1 calc(100% - 15px);
    max-width: 90%;
  }

  .header {
    height: 80px;
  }

  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }

  .main-content {
    margin-left: 0;
  }

  .form-container {
    flex-direction: column;
  }

  .product-bottom-left,
  .product-bottom-right {
    width: 100%;
  }
}

.list-view-product {
  width: 100% !important;
  flex: 1 1 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 400px;
}

.list-view-product .product-top,
.list-view-product .product-middle,
.list-view-product .product-bottom {
  width: 33%;
}

.list-view-product .product-details {
  width: 100%;
}

.list-view-product .product-bottom {
  align-items: flex-end;
  gap: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.list-view-product .product-top {
  height: 200px;
  width: 250px;
}

.list-view-product:hover {
  transform: none;
}

.list-view-product .btn {
  padding: 20px 0;
}
